body{
     background-color: #121212;
 
   color: hsl(180, 100%, 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
     
     
      font-family: "Courier New", monospace;
      font-size: 4rem;
      letter-spacing: 2px;
}


#time{
    font-size: 80px;
    font-family:sans-serif;
}
#date{
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(152, 203, 248);
}
.quote{
       font-size: 1.5rem;
      color: #ffffff;
      text-align: center;
      max-width: 600px;
      font-style: italic;
      opacity: 0.8;
}