body{
    height: 100vh;
    display: flex;
    justify-content: center;
     flex-direction: column;
    align-items: center;
    background: #111;
   
}
h1{
   font-size: 50px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   color: #8b867c;
}
#background {
    height: 400px;
    width: 600px;
  background: rgba(255, 255, 255, 0.05);
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button {
  height: 50px;
  width: 100px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}