*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}
body{
    background-color: black;
}
.container{
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    background-color: aqua;
    height: 420px;
    width: 420px;
    
}
.First{
    background-color: orange;
}
.Second{
    background-color: blue;
}
.third{
    background-color: red;
}
.Fourth{
    background-color: blueviolet;
}