*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    background-color: black;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    height:800px ;
    width: 800px;
  
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 2fr 2fr 1fr;
gap: 10px;
padding: 10px;
}
.box{
    background-color: rgb(20, 20, 99);
    
}
.header{
    grid-column-start: 1;
    grid-column-end:4 ;
    background-color: rgb(132, 13, 243);
}
.sidebar{
    grid-row-start:2 ;
    grid-row-end: 4;
    background-color: rgb(98, 20, 215);
  
}
.content1{
    grid-column: 2/4;
}
.footer{
   grid-column: 1/4;
}