@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap");


body{
   background: linear-gradient(120deg,  #ff416c, #ff4b2b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
form{
    text-align: center;
}
h1{
  
    font-size:4rem;
   font-weight: 500;
    margin-bottom: 50px;
  font-style:inherit;
  letter-spacing: 10px;
  margin-left:5%;
}

label {

    margin: 0 10px;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 20px;
}

input {
  padding: 10px;
  width: 30%;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4); 
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 20px;

}
 
button {
    width: 150px;
  padding: 10px 20px;
  background-color: white;
  color: #e74c3c;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-left: -10px;
  margin-top: 30px;
}
button:hover {
  background-color: #f5b7e8;
  color: #4e1dbf;
}
 h2{
  margin-top: 30px;
  margin-left: 443px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
font-family: Montserrat;

}

 .line{
width: 100px;
height: 1px;
margin-top: -20px;
 padding-left:40px ;
margin-left: 42%;
background-color: #f7f6f1;


}