.container{
    height: 400px;
    width: 400px;
    background-color: aqua;
    font-size: 50px;
}

@media screen and (min-width:600px) {
    .container{
        background-color: orange;
        font-size: 60px;
    }
    
}
 @media screen and ( min-width:900px){
    
.container{
 height: 300px;
    width: 300px;
     background-color: green;
    font-size: 30px;
}
}   