.container{
    background-color: antiquewhite;
    height: 600px;
display: flex;
flex-direction: row;
justify-content: left;  

/* flex-wrap: wrap; */
align-items: center;
gap: 5px;
}

.box{
    height: 100px;
    width: 100px;
    margin: 3px;
}
.first{
    background-color: orange;
    /* flex-grow: 1; */
flex-basis: 200px;   /* over-ride around main axis (if rows -> width , if col height) */
    flex-shrink:4 ;
}
.second{
    background-color: green;
    /* flex-grow: 2; */
}
.third{
    background-color: red;
    /* flex-grow: 3; */

}
.fourth{
    background-color: aqua;
   
}
/* 
main axis , cross axis 
container : flex , flex-direction, justify , align , flexwrap  */
/* child(flexitem): grow , shrink , basis, align self */