*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body{
    height: 100%;
    width: 100%;
    background-color: #0c0c0c;
    color: #f0f0f0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

main,section{
    width: 100%;
    height: 100%;


}
section{
    padding: 40px;
    display: flex;
    flex-direction: column;
   height: 100%;
   background-color: rgb(3, 3, 35);
   gap: 4px;
}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between ;
}
.info{
    padding: 8px 16px;
    border:  1px solid #333333;
   border-radius:8px ;
}

.board{
    border :1px solid  #333333;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
    
}

.block{
   
    border:1px solid #333333 ;
}

.fill{
    background-color: #5f34ee;
}